<h1>Find your London Bus Stops</h1>

<div class="row marketing">

  <instructions></instructions>
  <hr/>
  <h4>Enter any London Borough or Postcode</h4>

  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="searchTerm" placeholder="e.g. shoreditch">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="doSearch()">Go!</button>
      </span>
      </div>
    </div>
  </div>

</div>

<div class="jumbotron map-container">
  <map-directive></map-directive>
</div>


